{# Locale Modal #}
{% include '/layouts/includes/locale_modal.html.twig' %}

{# Main content #}
<div class="container mt-5">
    {# Integrate an Areablock in the Template #}
    {{ pimcore_areablock('mainAreablock', {
            'allowed': ['hero-banner']
        })
    }}

    {# Tools #}
    <h4>Dicover tools</h4>
    <div class="row mb-4">
        <div class="col-4 p-0">
            <a href="#" class="card text-dark text-left btn h-100">
                <img class="card-img-top" src="{{ asset('/static/images/tool_thumb_001@2x.png') }}" alt="Card image cap">
                <div class="card-body p-0 pt-3">
                    <h5 class="card-title m-0">Diary</h5>
                    <p class="card-text"><small class="text-muted">By MeetYourself</small></p>
                    <p class="card-text">Document notes, experiences and dreams to learn about what affects your mood</p>
                </div>
            </a>
        </div>
        <div class="col-4 p-0">
            <a href="#" class="card text-dark text-left btn h-100">
                <img class="card-img-top" src="{{ asset('/static/images/tool_thumb_002@2x.png') }}" alt="Card image cap">
                <div class="card-body p-0 pt-3">
                    <h5 class="card-title m-0">Discover your bad traits</h5>
                    <p class="card-text"><small class="text-muted">By MeetYourself</small></p>
                    <p class="card-text">It's easy to see the bad traits i others but have you ever thougt about what's your bad habits?</p>
                </div>
            </a>
        </div>
        <div class="col-4 p-0">
            <a href="#" class="card text-dark text-left btn h-100">
                <img class="card-img-top" src="{{ asset('/static/images/tool_thumb_003@2x.png') }}" alt="Card image cap">
                <div class="card-body p-0 pt-3">
                    <h5 class="card-title m-0">Face your Fears</h5>
                    <p class="card-text"><small class="text-muted">By MeetYourself</small></p>
                    <p class="card-text">An easy-to-use tool that helps you identify and face your fears.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4 p-0">
            <a href="#" class="card text-dark text-left btn h-100">
                <img class="card-img-top" src="{{ asset('/static/images/tool_thumb_001@2x.png') }}" alt="Card image cap">
                <div class="card-body p-0 pt-3">
                    <h5 class="card-title m-0">Diary</h5>
                    <p class="card-text"><small class="text-muted">By MeetYourself</small></p>
                    <p class="card-text">Document notes, experiences and dreams to learn about what affects your mood</p>
                </div>
            </a>
        </div>
        <div class="col-4 p-0">
            <a href="#" class="card text-dark text-left btn h-100">
                <img class="card-img-top" src="{{ asset('/static/images/tool_thumb_002@2x.png') }}" alt="Card image cap">
                <div class="card-body p-0 pt-3">
                    <h5 class="card-title m-0">Discover your bad traits</h5>
                    <p class="card-text"><small class="text-muted">By MeetYourself</small></p>
                    <p class="card-text">It's easy to see the bad traits i others but have you ever thougt about what's your bad habits?</p>
                </div>
            </a>
        </div>
    </div>

</div>